/* variable */
@use "../partialsGenerales/variables" as c;

/* footer */

.footer{
    font-family: c.$font;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color:#aaf3d4;
    color: c.$negro;
    flex-wrap: wrap;
    width: 100%;
    .frase-pie{
        flex: 1;
        text-align: left;
        padding-right: 20px;
        p{
            font-family: c.$font;
            font-weight: 400;
            font-style: normal;
            margin-top: 20px;
        }
    }

}

.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    h3{
        margin: 0;
        font-size: 18px;
    }
    .social-iconos{ 
        display: flex;
        gap: 10px;
        a{
            display: block;
            text-decoration: none;
            color: inherit;
            i{
                height: 30px;
                width: 30px;
                line-height: normal;
                border-radius: 50%;
                background-color: #83ecbb;
                color: c.$negro;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                margin: 0;
            }
                &:hover i{
                    background-color: c.$celeteoscuro;
                    color: c.$blanco;
                }
        }      
    }    
}