/* variable */
@use "../partialsGenerales/variables" as c;

/* header */

header{
  color: c.$negro;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px 20px;
  border: none;
  box-shadow: none;
  background-color: c.$blanco;
}

.navbar{
  margin: 0 !important;
  padding: 0 !important;
  border-bottom: none !important;
  box-shadow: none !important; 
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
  color:#338ebf;
  font-weight: bold;
}

.navbar-brand img{
  max-width: 40px;
  height: auto;
  margin-left: 20px;
}
