/* variable */
@use "../partialsGenerales/variables" as c;

/* mixin */

@use "../partialsGenerales/mixin" as m;

/* main */

body{
    font-family: c.$font;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding-top:60px;
}

h1, h2{
    font-family: c.$font;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}

h1{
    color: c.$celeteoscuro;
}

h2{
    color: c.$negro;
}

main{
    text-align: center;

    li{
        list-style: none;
    }
}

.presentacion{
    max-width: 1100px;
    width: 90%;
    height: 200px;
    padding: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        text-align: center;
        line-height: 25px;
    }
}

/* sección de iconos */

.iconos-ecografias{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid c.$celeteoscuro;
    border-radius: 10px;
    background-color: #f0f9f7;
    box-shadow: 0 4px 10px c.$negro;
    text-align: center;
    max-width: 1000px;
    width: 90%;
    gap: 20px;
    flex-wrap: wrap;

    .icono-tarjeta{
        @include m.card-style(180px);
    }
}

.carousel{
    max-width: 900px;
    margin: 0 auto;
    h2{
        color: #41fba5;
    }
    img{
        border-radius: 12px;
        object-fit: cover;
    }
}